<a href="https://colab.research.google.com/github/profrebrey/bibliometric_analysis/blob/main/Fem_eco_spacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_excel('https://github.com/profrebrey/bibliometric_analysis/blob/main/tandfonline-02.xlsx?raw=true')

In [2]:
df

,Volume,Issue,Issue_title,Year,Article_number,Title,Author1,Author1_Info,Author1_Contacts,Author2,...,Keywords,JEL codes,Views,CrossRef,Almetric,References,Citations,WOS,Scopus,Open_access
0,1,1,NaN,1995,9689203,Creating a forum for feminist economic inquiry,Diana Strassmann,NaN,"Center for Cultural Studies, Rice University",NaN,...,NaN,NaN,123,14,0,NaN,Sheba Tejani. (2019) What’s feminist about fem...,0.0,15.0,1
1,1,1,NaN,1995,9689204,Can feminist thought make economics more objec...,Sandra Harding,NaN,"Departments of Philosophy, University of Delaw...",NaN,...,"Feminism,method,objectivity,philosophy of econ...",NaN,467,47,0,NaN,"Sarah Averi Albala, Frida Kasteng, Arne Hennin...",0.0,87.0,1
2,1,1,NaN,1995,9689205,Robinson Crusoe: The quintessential economic man?,Ulla Grapard,NaN,"Department of Economics, Colgate University, 1...",NaN,...,"Robinson Crusoe, homo economics,self-sufficien...",NaN,845,19,0,NaN,Nancy Folbre. (2020) Manifold exploitations: t...,0.0,58.0,1
3,1,1,NaN,1995,9689206,What difference does gender make? Rethinking p...,Carmen Diana Deere,NaN,"Department of Economics, University of Massach...",NaN,...,"Peasants,gender,Latin American rural women,con...",NaN,238,30,0,NaN,"Grettel Navas. (2022) ‘If there's no evidence,...",0.0,40.0,1
4,1,1,NaN,1995,9689207,"""Holding hands at midnight"": The paradox of ca...",Nancy Folbre,NaN,"Department of Economics, University of Massach...",NaN,...,"Caring,labor,family,policy,altruism,reciprocity",NaN,842,145,25,NaN,"Özlem Onaran, Cem Oyvat, Eurydice Fotopoulou. ...",0.0,189.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,28,1,NaN,2022,1976808,Seasonal Migration and Feminization of Farm Ma...,S. Chandrasekhar,S. Chandrasekhar is Professor at Indira Gandhi...,a Indira Gandhi Institute of Development Resea...,Soham Sahoo,...,"Feminization of agriculture,women farm manager...","Q1, R2, J1",160,0,0,"Agarwal, Bina.2018. “Can Group Farms Outperfor...",NaN,0.0,0.0,0
920,28,1,NaN,2022,1983190,Gender Gaps in Wages and Mortality Rates Durin...,Pilar Beneito,Pilar Beneito holds an MSc in Economics from U...,"a Analisis Economico and ERICES Valencia, Univ...",José J. Garcia-Gómez,...,"Industrialization,gender wage gap,women’s mort...","J16, J31, O14",99,0,0,"Allen, Robert C.2009. The British Industrial R...",NaN,0.0,0.0,0
921,28,1,NaN,2022,1937265,Parental Education and Increased Child Surviva...,Samia Badji,Samia Badji is Research Fellow at the Centre f...,"Centre for Health Economics, Monash University...",NaN,...,"Child mortality,mother’s education,instrumenta...","I12, I2, J1",86,0,0,"Abuya, Benta, Elijah Onsomu, James Kimani, and...",NaN,0.0,0.0,0
922,28,1,NaN,2022,1986226,Male Backlash and Female Guilt: Women’s Employ...,Sowmya Dhanaraj,Sowmya Dhanaraj is Assistant Professor of Econ...,a Madras School of Economics Ranjith Road Kott...,Vidya Mahambare,...,"Violence against women,women’s paid work,gende...","J12, J16",222,0,0,"Agarwal, Bina.1997. “‘Bargaining’ and Gender R...",NaN,0.0,0.0,0
923,28,1,NaN,2022,1988127,The Double Burden of Being A Woman and Obese: ...,Mauricio Sarrias,Mauricio Sarrias is Lecturer Professor in the ...,"a Facultad de Economía y Negocios, Universidad...",Victor Iturra,...,"Obesity,BMI,wage,gender,discrimination,Chile","J70, J71, I12",69,0_x000D_\n,0,"Altonji, Joseph G. and Rebecca M. Blank. 1999....",NaN,0.0,0.0,0

In [5]:
import spacy

In [6]:
python -m spacy download en_core_web_sm

SyntaxError: ignored

In [12]:
nlp = spacy.load("en_core_web_sm")

def get_loc_with_spacy(text):
    result = []
    doc = nlp(text)
    for ent in doc.ents:
        if ent.label_ == 'ORG':
            result.append(ent.text)
    return result

In [14]:
df['Author1_ORG']=df.Author1_Contacts.dropna().apply(get_loc_with_spacy)
df['Author2_ORG']=df.Author2_Contacts.dropna().apply(get_loc_with_spacy)
df['Author3_ORG']=df.Author3_Contacts.dropna().apply(get_loc_with_spacy)
df['Author4_ORG']=df.Author4_Contacts.dropna().apply(get_loc_with_spacy)
df['Author5_ORG']=df.Author5_Contacts.dropna().apply(get_loc_with_spacy)
df['Author6_ORG']=df.Author6_Contacts.dropna().apply(get_loc_with_spacy)
df['Author7_ORG']=df.Author7_Contacts.dropna().apply(get_loc_with_spacy)
df['Author8_ORG']=df.Author8_Contacts.dropna().apply(get_loc_with_spacy)

In [18]:
df.to_csv('fem_eco.csv')

# Новый раздел

In [ ]:
!git clone